@import "/lib/semantic.min.css";

body {
    /*height: 100vh;*/
    overflow: hidden;
    display: flex;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container-for-background {
    background: url("backgrounds/default.jpg");
    background-size: cover;
    flex-grow: 3;
    overflow: hidden;
    display: flex;
}

.burger-button {
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}

.burger-button span {
    background-color: #000000;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
}

.burger-button span:nth-child(1) {
    top: calc(50% - 6px);
}

.burger-button span:nth-child(2) {
    top: calc(50% - 1px);
}

.burger-button span:nth-child(3) {
    top: calc(50% + 4px);
}

.burger-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.burger-button.is-active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.burger-button.is-active span:nth-child(2) {
    opacity: 0;
}

.burger-button.is-active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.navIcon {
    cursor: pointer;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
    0% {
        background-color: #ffffff;
    }
    49% {
        background-color: #ffaaaa;
    }
    100% {
        background-color: #ffffff;
    }
}
