#lists {
    color: #333333;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    #listitems {
        overflow-y: auto;
        margin: 0;

        .folder {
            background: #2185d0;
            color: #ffffff;
            padding: 10px;
        }
        .sublists {
            margin-left: 10px;
        }
    }

    .compCreateList {
        padding: 5px;
    }

    .compListsHeader {
        margin-bottom: 0;

        .compListMenu {
            flex-shrink: 0;
            display: block;
            width: 100%;
            margin: 0;
            height: 0;
            padding: 0;
            border: 0;
            opacity: 0;
            margin-bottom: 10px;
            transition-duration: 100ms;
            transition-property: height, padding, opacity;
            transition-timing-function: ease-out;
            overflow: hidden;
            overflow-y: auto;

            &.is-active {
                display: block;
                height: auto;
                padding: 20px;
                opacity: 1;
            }

            .item {
                cursor: pointer;
            }
        }
    }

    .selected {
        background: rgba(0, 0, 0, 0.03);
        color: rgba(0, 0, 0, 0.8);
    }
}

@media screen and (min-width: 769px), print {
    #lists {
        flex-basis: 330px;
        flex-grow: 0;
        border-right: 1px solid #cccccc;
    }
}
